.ant-select-tree-switcher {
  text-align: right !important;
  padding-right: 10px !important;
  position: absolute !important;
  width: 100% !important;
  z-index: 1000 !important;
}

.ant-select-tree-switcher::before {
  width: 100% !important;
}
